
  <% @recipes.each do |recipe| %>

    <div class="card-box col-md-4 col-sm-6">
        <div class="card card-just-text card-with-border" data-background="image" data-src="<%=recipe.attachments%>">
          <%= link_to recipe_path(recipe) do %>
            <div class="content">
                <h4 class="title title-modern"><%=recipe.name%></h4>
                <p class="description"><%=recipe.description%></p>
            </div>
            <% end %>
            <div class="filter"></div>
        </div> <!-- end card -->
    </div>

  <% end %>
